<H1>Update Your Information</H1>
<%= form_for @user_infor, url: profile_update_path(@user), method: :patch do |f| %>
	<p>
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>
  	</p>

  	<p>
    	<%= f.label :description %><br>
    	<%= f.text_area :description %>
  	</p>

  	<p>
    	<%= f.submit %>
  	</p>

<% end %>

<%= link_to 'Back', profile_path(@user) %>