<%= link_to 'Home', root_path %>
<h1><%=@user.email%> Goals</h1>
<% @goals.each do |goal| %>
    <p> Habit: <%= link_to goal.habit.name, user_goal_check_ins_path(@user.id, goal.id) %></p>
    <p>Start: <%= goal.start_date %></p>
    <p>End: <%= goal.end_date %></p>
<% end %>

<%= link_to 'New Goal', new_user_goal_path %>