<h1>New Goal</h1>
<%= form_for :goal, url: user_goals_path do |f| %>
  <p>
    <%= f.label :Start %><br>
    <%= f.date_select :start_date %>
  </p>
 
  <p>
    <%= f.label :End %><br>
    <%= f.date_select :end_date %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', user_goals_path %>