<!DOCTYPE html>
<html>
<head>
  <title>Diairy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class='header'>
  <div class="title"><%= link_to 'Diairy', root_path%></div>
</div>

<%= yield %>

<div class='footer'>
  <p> About</p>
</div>

</body>
</html>
